h1 {
    font-size: 48px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    margin-top: 100px;
}

  /* Style pour les images des projets */
img {
    max-width: 450px; /* Spécifie la largeur maximale */
    max-height: 300px; /* Permet de conserver les proportions de l'image */
}
  
  
p {
font-size: 24px;
line-height: 0.9;
font-family: 'Open Sans', sans-serif;
color: #666;
}

/* Style pour le corps de la page */
    /*body {
    background-image: url('IMG_BG.JPG');
    background-size: cover;
    background-position: center;
    }*/
    
/* Style pour la bannière */
.banner {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    font-size: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    margin-bottom: 15px;
}
      
/* Style pour les boutons de la bannière */
.banner a {
    color: #fff;
    margin-right: 10px;
    text-decoration: none;
}

a {
    font-size: 18px;
    line-height: 0.9;
    font-family: 'Open Sans', sans-serif;
    color: rgb(36, 36, 43);
}


/* Style pour le paragraphe d'accueil */
p {
    font-size: 18px;
    line-height: 1.5;
    margin: 30px auto;
    max-width: 700px;
    text-align: justify;
}

/* Style pour le titre du paragraphe d'accueil */
p strong {
    font-size: 24px;
}

/* Style pour les liens dans le paragraphe d'accueil */
p a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
  
.image-left {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 160px;
  }
  
.image-left img {
    
    display: block;
}

.image-right {
    float: right;
    margin-right: 160px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;
  }
  
.image-right img {

    display: block;
}

.container-project-list {
    text-align: center;
}

.project-list {
    list-style-type: none; /* Remove default list styles */
    padding: 0;
}

.project-list li {
    margin-bottom: 20px; /* Add space between projects */
    text-align: left; /* Align project content to the left */
    width: 80%; /* Limit the width of project list */
    margin: 0 auto; /* Center the project list */
} 